<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My League</ion-title>
    </ion-navbar>

    <div class="container">
        <ion-grid>
            <ion-row class="top-strip">
                <ion-col col-12 col-md-8>
                    <a href="#">
                        <i class="zmdi zmdi-phone"></i> +1 (0) 1234 56789</a>
                    <a href="#">
                        <i class="zmdi zmdi-email"></i> info@mytenniscloud.com</a>
                </ion-col>


                <ion-col col-12 col-md-4 text-right>

                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content class="headerContent">
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="assets/imgs/logo.png" alt="">
                </ion-col>

                <ion-col col-7>
                    <ion-list>
                        <ul class="mainNav">
                            <li class="active">
                                <a href="#">Lorem ipsum</a>
                            </li>
                            <li>
                                <a href="#">Perspiciatis
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">Neque porro
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">About
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </a>
                            </li>
                        </ul>
                    </ion-list>
                </ion-col>

                <ion-col col-2>
                    <a href="#">
                        <img src="assets/imgs/social-icon.png" alt="" class="socialIcon">
                    </a>
                </ion-col>

            </ion-row>

        </ion-grid>
    </div>

    <!-- inner banner -->

    <div class="banner innerBanner">
        <div class="container">
            <ion-row text-center>
                <ion-col class="col-12 col-sm-8">
                    <div class="" *ngIf="!addLeague && !editLeagueValue">
                        <h1>League List</h1>
                    </div>
                    <div class="" *ngIf="addLeague">
                        <h1>Add New League </h1>
                    </div>
                    <div class="" *ngIf="editLeagueValue">
                        <h1>Edit League </h1>
                    </div>
                </ion-col>
            </ion-row>

        </div>
    </div>

    <div class="tableContent" *ngIf="!addLeague && !editLeagueValue">
        <div *ngIf="successMessage">
            <p class="successMessage">{{successMessage}}</p>
        </div>

        <div *ngIf="errorMessage">
            <p class="errorMessage">{{errorMessage}}</p>
        </div>
        <div class="container">
            <ion-row>
                <ion-col col-12 text-right>
                    <button ion-button color="dark" (click)="addNewLeague()">Add New League</button>
                </ion-col>
            </ion-row>

            <div class="tableDiv">
                <ion-row class="tableDivHeader">
                    <ion-col col-2>
                        League Name
                    </ion-col>

                    <ion-col col-2>
                        Player Name
                    </ion-col>

                    <ion-col col-2>
                        Location
                    </ion-col>

                    <ion-col col-2>
                        Category
                    </ion-col>

                    <ion-col col-2>
                        Created
                    </ion-col>

                    <ion-col col-2>
                        Action
                    </ion-col>
                </ion-row>
                <div *ngIf="!noLeagueData">
                    <ion-row class="tableDivRow" *ngFor="let lgdata of leagueData">

                        <ion-col col-2>

                            {{lgdata.league_name}}

                        </ion-col>

                        <ion-col col-2>
                            <span *ngFor="let player of lgdata.players">
                                {{player}}
                            </span>

                        </ion-col>

                        <ion-col col-2>

                            {{lgdata.league_location}}

                        </ion-col>

                        <ion-col col-2>
                            <span *ngFor="let category of lgdata.categories">
                                {{category}}
                            </span>
                        </ion-col>

                        <ion-col col-2>

                            {{lgdata.created}}

                        </ion-col>

                       

                    <ion-col col-2 class="actionLink">
                        <a href="#" (click)="editLeague(lgdata)">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                        <a href="#" (click)="deleteLeague(lgdata.id)">
                            <i class="zmdi zmdi-delete"></i>
                        </a>

                    </ion-col>
                </ion-row>
                        </ion-col>
                    </ion-row>
                </div>
                <div *ngIf="noLeagueData">
                    <p class="errorMessage">No data to display, please add a league.</p>
                </div>
            </div>
        
        </div>

    </div>

    <ion-row>
        <ion-col col-6 offset-3>
            <div class="" *ngIf="addLeague || editLeagueValue">
                <form [formGroup]="modificationForm" (ngSubmit)='submitNewLeague(modificationForm.value)'>

                    <ion-item>
                        <ion-label floating>League Name*</ion-label>
                        <ion-input type="text" formControlName="league_name"></ion-input>
                    </ion-item>
                    <p class="errorMessage" *ngIf="modificationForm.controls.league_name.errors && modificationForm.controls.league_name.dirty">League Name is required.</p>
                    <ion-item>
                        <ion-label floating>Description</ion-label>
                        <ion-textarea formControlName="description"></ion-textarea>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Location</ion-label>
                        <ion-input type="text" formControlName="league_location"></ion-input>
                    </ion-item>



                    <div class="fromToWrapper">
                        <h5>Round Robin Period</h5>
                        <div class="formDiv">
                            <ion-item>
                                <ion-label>From</ion-label>
                                <ion-input type="date" formControlName="round_robin_period_from"></ion-input>
                            </ion-item>
                        </div>

                        <div class="toDiv">
                            <ion-item>
                                <ion-label>To</ion-label>
                                <ion-input type="date" formControlName="round_robin_period_to"></ion-input>
                            </ion-item>
                        </div>

                    </div>

                    <div class="fromToWrapper">

                        <h5>Playoff Period</h5>

                        <div class="formDiv">
                            <ion-item>
                                <ion-label>From</ion-label>
                                <ion-input type="date" formControlName="playoff_period_from"></ion-input>
                            </ion-item>
                        </div>

                        <div class="toDiv">
                            <ion-item>
                                <ion-label>To</ion-label>
                                <ion-input type="date" formControlName="playoff_period_to"></ion-input>
                            </ion-item>
                        </div>
                    </div>
                    <ion-item style="margin-top:20px;">
                        <ion-label>Category*</ion-label>
                        <ion-select formControlName="categories" multiple="true">
                            <ion-option value="Men Singles">Men Singles</ion-option>
                            <ion-option value="Women Singles">Women Singles</ion-option>
                            <ion-option value="Men Doubles">Men Doubles</ion-option>
                            <ion-option value="Women Doubles">Women Doubles</ion-option>
                            <ion-option value="Mixed">Mixed</ion-option>
                        </ion-select>
                    </ion-item>
                    <p class="errorMessage" *ngIf="modificationForm.controls.categories.errors && modificationForm.controls.categories.dirty">Please select atleast one category.</p>

                    <ion-item style="margin-top:20px;">
                        <ion-label>Group</ion-label>
                        <ion-select formControlName="groups" multiple="true">
                            <ion-option *ngFor="let group of groupsData" value="{{group.id}}">{{group.group_name}}</ion-option>
                        </ion-select>
                    </ion-item>


                    <ion-item>
                        <ion-label floating>Scoring Point System</ion-label>
                        <ion-textarea formControlName="scoring_point"></ion-textarea>
                    </ion-item>

                    <ion-grid>
                        <ion-row>
                            <ion-col text-center>
                                <div *ngIf=addLeague>
                                    <button ion-button (click)="backToListing()">Back To League</button>
                                    <button ion-button [disabled]="!modificationForm.valid">Create League</button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>


                    <ion-grid>
                        <ion-row>
                            <ion-col text-center>
                                <div *ngIf=editLeagueValue>
                                    <button ion-button (click)="backToListing()">Back To League</button>
                                    <button ion-button [disabled]="!modificationForm.valid">Save Changes</button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>




                </form>
            </div>
        </ion-col>
    </ion-row>




    <!-- footer -->
    <div class="footer">
        <div class="container">
            <ion-grid>
                <ion-row>
                    <ion-col col-lg-3 col-md-6 col-12>
                        <img src="assets/imgs/footer-logo.png" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            nulla pariatur.</p>
                        <a href="#">
                            <img src="assets/imgs/social-icon.png" alt="" class="socialIcon">
                        </a>
                    </ion-col>

                    <ion-col col-lg-3 col-md-6 col-12>
                        <ul class="footerList">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Leatest News</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <li>
                                <a href="#">Donate</a>
                            </li>
                            <li>
                                <a href="#">Career</a>
                            </li>
                        </ul>
                    </ion-col>

                    <ion-col col-lg-3 col-md-6 col-12 class="footerContact">
                        <h5>Contact Us</h5>
                        <p>
                            <strong>Address</strong> 8500 Lorem ipsum, dolor fugiat , 55055</p>

                        <p>
                            <strong>Call Us</strong> (123) 456-78-90</p>

                        <p>
                            <strong>Email</strong> info@mytenniscloud.com</p>
                    </ion-col>

                    <ion-col col-lg-3 col-md-6 col-12>
                        <h5>Latest Blog Posts</h5>

                        <ion-list>
                            <ion-item>
                                <ion-avatar item-start>
                                    <img src="assets/imgs/blog-img-1.jpg" />
                                </ion-avatar>
                                <h2>Improve Your Strokes Using The Wall</h2>
                                <p>
                                    <a href="#">February 7, 2018</a> by
                                    <a href="#">John Doe</a>
                                </p>
                            </ion-item>

                            <ion-item>
                                <ion-avatar item-start>
                                    <img src="assets/imgs/blog-img-2.jpg" />
                                </ion-avatar>
                                <h2>Improve Your Strokes Using The Wall</h2>
                                <p>
                                    <a href="#">February 7, 2018</a> by
                                    <a href="#">John Doe</a>
                                </p>
                            </ion-item>


                        </ion-list>


                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <!-- /footer -->

    <!-- Bottom footer -->
    <div class="footerBottom">
        <div class="container">
            <ion-grid>
                <ion-row>
                    <ion-col col-12 text-center>
                        <p>My Tennis Cloud © 2018 All Rights Reserved
                            <a href="#">Terms of Use</a> and
                            <a href="#">Privacy Policy</a>
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <!-- /Bottom footer -->


</ion-content>



