<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Edit Profile</ion-title>
    </ion-navbar>

    <div class="container">
        <ion-grid>
            <ion-row class="top-strip">
                <ion-col col-12 col-md-8>
                    <button ion-button menuToggle>
                        <ion-icon name="menu"></ion-icon>
                    </button>
                    <a href="#">
                        <i class="zmdi zmdi-phone"></i> +1 (0) 1234 56789</a>
                    <a href="#">
                        <i class="zmdi zmdi-email"></i> info@mytenniscloud.com</a>
                </ion-col>


                <ion-col col-12 col-md-4 text-right class="pull-right" *ngIf="!userIsLogged">

                </ion-col>

                <ion-col col-12 col-md-4 text-right class="pull-right" *ngIf="userIsLogged == 'userIsLogged'">

                </ion-col>

            </ion-row>
        </ion-grid>
    </div>
</ion-header>



<ion-content padding>
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="assets/imgs/logo.png" alt="">
                </ion-col>

                <ion-col col-7>
                    <ion-list>
                        <ul class="mainNav">
                            <li class="active">
                                <a href="#">Lorem ipsum</a>
                            </li>
                            <li>
                                <a href="#">Perspiciatis
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">Neque porro
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">About
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </a>
                            </li>
                        </ul>
                    </ion-list>
                </ion-col>

                <ion-col col-2>
                    <a href="#">
                        <img src="assets/imgs/social-icon.png" alt="" class="socialIcon">
                    </a>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>
    <div class="signupDiv">
        <ion-grid>
            <ion-row text-center>
                <ion-col col-12>
                    <img src="assets/imgs/logo.png" alt="">
                </ion-col>
            </ion-row>
            <div *ngIf="apiMessage">
                <p>{{apiMessage}}</p>
            </div>
            <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)">
                <div class="form-container">
                    <ion-row text-center>
                        <ion-col col-12 col-lg-4 offset-lg-4 col-md-8 offset-md-2>
                            <div class="signupForm">
                                <ion-list>
                                    <ion-item>
                                        <ion-label>Full Name*</ion-label>
                                        <ion-input type="text" placeholder="Full Name" formControlName="full_name"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Email*</ion-label>
                                        <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>User Name</ion-label>
                                        <ion-input type="text" placeholder="User Name" formControlName="username"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Home Phone</ion-label>
                                        <ion-input type="text" placeholder="Home Phone" formControlName="home_phone"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Cell Phone</ion-label>
                                        <ion-input type="text" placeholder="Cell Phone" formControlName="cell_phone"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Address 1</ion-label>
                                        <ion-input type="text" placeholder="Address 1" formControlName="address1"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Address 2</ion-label>
                                        <ion-input type="text" placeholder="Address 2" formControlName="address2"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>City</ion-label>
                                        <ion-input type="text" placeholder="City" formControlName="city"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>State</ion-label>
                                        <ion-input type="text" placeholder="State" formControlName="state"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Country</ion-label>
                                        <ion-input type="text" placeholder="Country" formControlName="country"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Zip</ion-label>
                                        <ion-input type="text" placeholder="Zip" formControlName="zip"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Height(cm)</ion-label>
                                        <ion-input type="text" placeholder="Height(cm)" formControlName="height"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Date of Birth</ion-label>
                                        <ion-input type="text" placeholder="Date of Birth" formControlName="dob"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Gender</ion-label>
                                        <ion-input type="text" placeholder="Gender" formControlName="gender"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Perfered Location</ion-label>
                                        <ion-input type="text" placeholder="Perfered Location" formControlName="preferred_location"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Handedness</ion-label>
                                        <ion-input type="text" placeholder="Handedness" formControlName="handedness"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Handedness</ion-label>
                                        <ion-input type="text" placeholder="Handedness" formControlName="handedness"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Rating Type</ion-label>
                                        <ion-input type="text" placeholder="Rating Type" formControlName="rating_type"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Rating</ion-label>
                                        <ion-input type="text" placeholder="Rating" formControlName="rating"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Rating</ion-label>
                                        <ion-input type="text" placeholder="Rating" formControlName="rating"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Others</ion-label>
                                        <ion-input type="text" placeholder="Others" formControlName="others"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Strength</ion-label>
                                        <ion-input type="text" placeholder="Strength" formControlName="strength"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Weakness</ion-label>
                                        <ion-input type="text" placeholder="Weakness" formControlName="weakness"></ion-input>
                                    </ion-item>

                                    <div padding class="submitBtn">
                                        <button ion-button block large color="dark" [disabled]="!profileForm.valid">Save Profile</button>
                                    </div>

                                </ion-list>
                            </div>
                        </ion-col>

                    </ion-row>
                </div>
            </form>
        </ion-grid>
    </div>




    <!-- footer -->
    <div class="footer">
        <div class="container">
            <ion-grid>
                <ion-row>
                    <ion-col col-lg-3 col-md-6 col-12>
                        <img src="assets/imgs/footer-logo.png" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            nulla pariatur.</p>
                        <a href="#">
                            <img src="assets/imgs/social-icon.png" alt="" class="socialIcon">
                        </a>
                    </ion-col>

                    <ion-col col-lg-3 col-md-6 col-12>
                        <ul class="footerList">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Leatest News</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <li>
                                <a href="#">Donate</a>
                            </li>
                            <li>
                                <a href="#">Career</a>
                            </li>
                        </ul>
                    </ion-col>

                    <ion-col col-lg-3 col-md-6 col-12 class="footerContact">
                        <h5>Contact Us</h5>
                        <p>
                            <strong>Address</strong> 8500 Lorem ipsum, dolor fugiat , 55055</p>

                        <p>
                            <strong>Call Us</strong> (123) 456-78-90</p>

                        <p>
                            <strong>Email</strong> info@mytenniscloud.com</p>
                    </ion-col>

                    <ion-col col-lg-3 col-md-6 col-12>
                        <h5>Latest Blog Posts</h5>

                        <ion-list>
                            <ion-item>
                                <ion-avatar item-start>
                                    <img src="assets/imgs/blog-img-1.jpg" />
                                </ion-avatar>
                                <h2>Improve Your Strokes Using The Wall</h2>
                                <p>
                                    <a href="#">February 7, 2018</a> by
                                    <a href="#">John Doe</a>
                                </p>
                            </ion-item>

                            <ion-item>
                                <ion-avatar item-start>
                                    <img src="assets/imgs/blog-img-2.jpg" />
                                </ion-avatar>
                                <h2>Improve Your Strokes Using The Wall</h2>
                                <p>
                                    <a href="#">February 7, 2018</a> by
                                    <a href="#">John Doe</a>
                                </p>
                            </ion-item>


                        </ion-list>


                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <!-- /footer -->

    <!-- Bottom footer -->
    <div class="footerBottom">
        <div class="container">
            <ion-grid>
                <ion-row>
                    <ion-col col-12 text-center>
                        <p>My Tennis Cloud © 2018 All Rights Reserved
                            <a href="#">Terms of Use</a> and
                            <a href="#">Privacy Policy</a>
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <!-- /Bottom footer -->
</ion-content>