<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>Edit Profile</ion-title>
    </ion-navbar>

    <div class="container">

        <ion-grid class="forMobile">
            <ion-row class="top-strip">
                <ion-col col-6>
                    <img src="assets/imgs/logo.png" alt="">
                </ion-col>
                <ion-col col-6>
                    <button ion-button menuToggle>
                                <ion-icon name="menu"></ion-icon>
                            </button>
                </ion-col>
            </ion-row>
        </ion-grid>



        <ion-grid class="forDesktop">
            <ion-row class="top-strip">
                <ion-col col-12 col-md-8>
                    <button ion-button menuToggle>
                            <ion-icon name="menu"></ion-icon>
                        </button>
                    <a href="#">
                        <i class="zmdi zmdi-phone"></i> +1 (0) 1234 56789</a>
                    <a href="#">
                        <i class="zmdi zmdi-email"></i> info@mytenniscloud.com</a>
                </ion-col>


                <ion-col col-12 col-md-4 text-right class="pull-right" *ngIf="!userIsLogged">
                    <!-- <a href="#" (click)="logout()" style="padding-top : 8px;">
                            <i class="zmdi zmdi-logout"></i> Logout</a> -->
                </ion-col>

                <ion-col col-12 col-md-4 text-right class="pull-right" *ngIf="userIsLogged">
                    <a href="#" (click)="logout()" style="padding-top : 8px;">
                        <i class="zmdi zmdi-logout"></i> Logout</a>

                </ion-col>

            </ion-row>
        </ion-grid>
    </div>
</ion-header>



<ion-content>
    <div class="wrapper">
        <div class="container">
            <ion-grid>
                <ion-row>
                    <ion-col col-3>
                        <a>
                            <img src="assets/imgs/logo.png" alt="" (click)="openHomePage()">
                        </a>
                    </ion-col>

                    <ion-col col-7>
                        <ion-list>
                            <ul class="mainNav">
                                <li class="active">
                                    <a href="#">Lorem ipsum</a>
                                </li>
                                <li>
                                    <a href="#">Perspiciatis
                                            <i class="zmdi zmdi-chevron-down"></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="#">Neque porro
                                            <i class="zmdi zmdi-chevron-down"></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="#">About
                                            <i class="zmdi zmdi-chevron-down"></i>
                                        </a>
                                </li>
                            </ul>
                        </ion-list>
                    </ion-col>

                    <ion-col col-2>
                        <a href="#">
                            <img src="assets/imgs/social-icon.png" alt="" class="socialIcon">
                        </a>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </div>
        <div class="container signupDiv">
            <ion-grid>
                <ion-row text-center>
                    <ion-col col-12>

                    </ion-col>
                </ion-row>


                <div class="editSegment">
                    <ion-row>
                        <ion-col col-12 col-lg-6 offset-lg-3 col-md-8 offset-md-2>
                            <ion-segment [(ngModel)]="editFromGroup">
                                <ion-segment-button class="segment-button segment-activated" value="contactInfo">
                                    Contact Info
                                </ion-segment-button>
                                <ion-segment-button value="personalInfo">
                                    Personal Info
                                </ion-segment-button>

                                <ion-segment-button value="tennisInfo">
                                    Tennis Info
                                </ion-segment-button>
                            </ion-segment>

                        <div [ngSwitch]="editFromGroup">
                            <ion-list  *ngSwitchDefault> 

                                    <form [formGroup]="contactInfoForm">
                                        <ion-item>
                                            <ion-label>Full Name*</ion-label>
                                            <ion-input type="text" id="firstname" class="form-control" placeholder="Full Name" formControlName="full_name"></ion-input>
                                        </ion-item>
                                        <p class="errorMessage" *ngIf="contactInfoForm.controls.full_name.errors && contactInfoForm.controls.full_name.dirty && contactInfoForm.controls.full_name.errors.pattern">Full Name can only be text.</p>
                                        <p class="errorMessage" *ngIf="contactInfoForm.controls.full_name.errors && contactInfoForm.controls.full_name.dirty && contactInfoForm.controls.full_name.errors.required">Full Name is required.</p>


                                        <ion-item>
                                            <ion-label>Email*</ion-label>
                                            <ion-input type="text" placeholder="Email" disabled="true" formControlName="email"></ion-input>
                                        </ion-item>
                                        <p class="errorMessage" *ngIf="contactInfoForm.controls.email.errors && contactInfoForm.controls.email.dirty && contactInfoForm.controls.email.errors.pattern">Please provide proper email.</p>
                                        <p class="errorMessage" *ngIf="contactInfoForm.controls.email.errors && contactInfoForm.controls.email.dirty && contactInfoForm.controls.email.errors.required">Email is required.</p>

                                        <ion-item>
                                            <ion-label>Home Phone</ion-label>
                                            <ion-input type="text" placeholder="Home Phone" formControlName="home_phone"></ion-input>
                                        </ion-item>
                                        <p class="errorMessage" *ngIf="contactInfoForm.controls.home_phone.errors && contactInfoForm.controls.home_phone.dirty && contactInfoForm.controls.home_phone.touched">Please provide proper phone number.</p>

                                        <ion-item>
                                            <ion-label>Cell Phone</ion-label>
                                            <ion-input type="text" placeholder="Cell Phone" formControlName="cell_phone"></ion-input>
                                        </ion-item>
                                        <p class="errorMessage" *ngIf="contactInfoForm.controls.cell_phone.errors && contactInfoForm.controls.cell_phone.dirty && contactInfoForm.controls.cell_phone.touched">Please provide proper phone number.</p>

                                        <ion-item>
                                            <ion-label>Address 1</ion-label>
                                            <ion-input type="text" placeholder="Address 1" formControlName="address1"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>Address 2</ion-label>
                                            <ion-input type="text" placeholder="Address 2" formControlName="address2"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>City</ion-label>
                                            <ion-input type="text" placeholder="City" formControlName="city"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>State</ion-label>
                                            <ion-input type="text" placeholder="State" formControlName="user_state"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>Country</ion-label>
                                            <ion-input type="text" placeholder="Country" formControlName="country"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>Zip</ion-label>
                                            <ion-input type="text" placeholder="Zip" formControlName="zip"></ion-input>
                                        </ion-item>
                                        <p class="errorMessage" *ngIf="contactInfoForm.controls.zip.errors && contactInfoForm.controls.zip.dirty && contactInfoForm.controls.zip.touched">Please provide proper zip code.</p>

                                    </form>


                                </ion-list>

                                <ion-list *ngSwitchCase="'personalInfo'">

                                    <form [formGroup]="personalInfoForm">
                                        <ion-item>
                                            <ion-label>User Name</ion-label>
                                            <ion-input type="text" placeholder="User Name" formControlName="username"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>Height(cm)</ion-label>
                                            <ion-input type="text" placeholder="Height(cm)" formControlName="height"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>Date of Birth</ion-label>
                                            <ion-input type="text" placeholder="Date of Birth" formControlName="dob"></ion-input>
                                        </ion-item>
                                        <br>

                                        <ion-item>
                                            <ion-label>Gender :</ion-label>
                                            <ion-select interface="popover" formControlName="gender">
                                                <ion-option value="male">Male</ion-option>
                                                <ion-option value="female">Female</ion-option>
                                            </ion-select>
                                        </ion-item>
                                    </form>
                                </ion-list>

                                <ion-list *ngSwitchCase="'tennisInfo'">
                                    <form [formGroup]="tennisInfoForm" (ngSubmit)="saveProfile(contactInfoForm.value,personalInfoForm.value,tennisInfoForm.value)">
                                        <ion-item>
                                            <ion-label> Perfered Location</ion-label>
                                            <ion-input type="text" placeholder="Perfered Location" formControlName="preferred_location"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>Handedness</ion-label>
                                            <ion-input type="text" placeholder="Handedness" formControlName="handedness"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>Rating Type</ion-label>
                                            <ion-input type="text" placeholder="Rating Type" formControlName="rating_type"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>Rating</ion-label>
                                            <ion-input type="text" placeholder="Rating" formControlName="rating"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>Others</ion-label>
                                            <ion-input type="text" placeholder="Others" formControlName="user_others"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>Strength</ion-label>
                                            <ion-input type="text" placeholder="Strength" formControlName="strength"></ion-input>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>Weakness</ion-label>
                                            <ion-input type="text" placeholder="Weakness" formControlName="weakness"></ion-input>
                                        </ion-item>

                                        <div padding class="submitBtn">
                                            <div *ngIf="successMessage">
                                                <p class="successMessage">{{successMessage}}</p>
                                            </div>

                                            <div *ngIf="errorMessage">
                                                <p class="errorMessage">{{errorMessage}}</p>
                                            </div>
                                            <div class="buttonGroup">
                                                <div class="width50">
                                                    <button ion-button block color="#1a3150" [disabled]="!contactInfoForm.valid || !personalInfoForm.valid || !tennisInfoForm.valid">Save Profile</button>
                                                </div>

                                                <div class="width50">
                                                    <a href="#" ion-button block color="#1a3150" (click)="cancel()">Cancel</a>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </ion-list>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>



            </ion-grid>
        </div>

        <!-- <div class="signupDiv">
        <ion-grid>
            <ion-row text-center>
                 <ion-col col-12>
                    <img src="assets/imgs/logo.png" alt="">
                </ion-col> -->
        <!-- </ion-row>
            <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)">
                <div class="form-container">
                    <ion-row text-center>
                        <ion-col col-12 col-lg-4 offset-lg-4 col-md-8 offset-md-2>
                            <div class="signupForm">
                                <ion-list>




            <div class="editSegment">
                <ion-row>
                    <ion-col col-12 col-lg-6 offset-lg-3 col-md-6 offset-md-6>
                        <ion-segment [(ngModel)]="editFromGroup">
                            <ion-segment-button value="contactInfo">
                                Contact Info
                            </ion-segment-button>
                            <ion-segment-button value="personalInfo">
                                Personal Info
                            </ion-segment-button>

                            <ion-segment-button value="tennisInfo">
                                Tennis Info
                            </ion-segment-button>
                        </ion-segment>

                        <div [ngSwitch]="editFromGroup">
                            <ion-list *ngSwitchCase="'contactInfo'">

                                <form>
                                    <ion-item>
                                        <ion-label>Full Name*</ion-label>
                                        <ion-input type="text" id="firstname" class="form-control" placeholder="Full Name"></ion-input>
                                    </ion-item>
                                    <p class="errorMessage" *ngIf="profileForm.controls.full_name.errors && profileForm.controls.full_name.dirty && profileForm.controls.full_name.errors.pattern">Full Name can only be text.</p>
                                    <p class="errorMessage" *ngIf="profileForm.controls.full_name.errors && profileForm.controls.full_name.dirty && profileForm.controls.full_name.errors.required">Full Name is required.</p>


                                    <ion-item>
                                        <ion-label>Email*</ion-label>
                                        <ion-input type="text" placeholder="Email" disabled="true"></ion-input>
                                    </ion-item>
                                    <p class="errorMessage" *ngIf="profileForm.controls.email.errors && profileForm.controls.email.dirty && profileForm.controls.email.errors.pattern">Please provide proper email.</p>
                                    <p class="errorMessage" *ngIf="profileForm.controls.email.errors && profileForm.controls.email.dirty && profileForm.controls.email.errors.required">Email is required.</p> -->

        <!-- <ion-item>
                                        <p>{{imageURI}}</p>
                                        <button ion-button color="secondary" (click)="getImage()">Get Image</button>
                                    </ion-item>

                            </ion-list>

                                    <ion-item>
                                        <button ion-button (click)="uploadFile()">Upload</button>
                                    </ion-item> -->

        <!-- <button (click)="callMyAction()">Take photo</button> -->

        <!-- <ion-list *ngFor="let item of downloads">
                                        <ion-item *ngIf="(item.name|slice:-4) == '.pdf'">
                                            <h5>{{item.name}}</h5>
                                        </ion-item>
                                    </ion-list> -->

        <!-- <ng4-files-click (filesSelect)="filesSelect($event)">
                                            <span>Click me to upload</span>
                                          </ng4-files-click>

                                          <ng4-files-drop (filesSelect)="filesSelect($event)">
                                                <div style="display: inline-block; height: 100px; width: 100px; background-color: gray">
                                                  {{selectedFiles}}
                                                </div>
                                              </ng4-files-drop> -->


        <!-- <ion-item>
                                        <button (click)="getImage()">Browse Images</button>
                                    </ion-item> -->

        <!-- <ion-item>
                                            <ion-input type="file">Upload</ion-input>
                                        </ion-item>
                                        <ion-item>
                                        <img  style="width: 100px; height: 100px;">
                                        <input  type="file">
                                        </ion-item>>
                                        <input type='file' (change)="readUrl($event)">
                                        <img [src]="url"> -->
        <!-- <input type='file' id="uploadBannerImage" (change)="readURL(this);" />
                                         -->
        <!-- <img  style="width: 100px; height: 100px;">
                                         <input  type="file" (change)="PreviewImage()">  -->

        <!-- <input type='file' id="uploadBannerImage"  /> -->
        <!-- <img src="" id="tableBanner" /> -->

        <!-- <img [src]="profile_pic" height="200"> <br/>
                                         <input type='file' (change)="onSelectFile($event)"> -->
        <!-- <ion-item>
                                        <ion-label>User Name</ion-label>
                                        <ion-input type="text" placeholder="User Name"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Home Phone</ion-label>
                                        <ion-input type="text" placeholder="Home Phone"></ion-input>
                                    </ion-item>
                                    <p class="errorMessage" *ngIf="profileForm.controls.home_phone.errors && profileForm.controls.home_phone.dirty && profileForm.controls.home_phone.touched">Please provide proper phone number.</p>

                                    <ion-item>
                                        <ion-label>Cell Phone</ion-label>
                                        <ion-input type="text" placeholder="Cell Phone"></ion-input>
                                    </ion-item>
                                    <p class="errorMessage" *ngIf="profileForm.controls.cell_phone.errors && profileForm.controls.cell_phone.dirty && profileForm.controls.cell_phone.touched">Please provide proper phone number.</p>

                                    <ion-item>
                                        <ion-label>Address 1</ion-label>
                                        <ion-input type="text" placeholder="Address 1"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Address 2</ion-label>
                                        <ion-input type="text" placeholder="Address 2"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>City</ion-label>
                                        <ion-input type="text" placeholder="City"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>State</ion-label>
                                        <ion-input type="text" placeholder="State"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Country</ion-label>
                                        <ion-input type="text" placeholder="Country"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Zip</ion-label>
                                        <ion-input type="text" placeholder="Zip"></ion-input>
                                    </ion-item>
                                    <p class="errorMessage" *ngIf="profileForm.controls.zip.errors && profileForm.controls.zip.dirty && profileForm.controls.zip.touched">Please provide proper zip code.</p>

                                    <ion-item>
                                        <ion-label>Height(cm)</ion-label>
                                        <ion-input type="text" placeholder="Height(cm)"></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Date of Birth</ion-label>
                                        <ion-input type="text" placeholder="Date of Birth"></ion-input>
                                    </ion-item>
                                    <br>


                                    <ion-item>
                                        <ion-label>Gender :</ion-label>
                                        <ion-select interface="popover">
                                            <ion-option value="male">Male</ion-option>
                                            <ion-option value="female">Female</ion-option>
                                        </ion-select>
                                    </ion-item>
                                </form>


                            </ion-list>

                            <ion-list *ngSwitchCase="'tennisInfo'">
                                <ion-item>
                                    <ion-label> Perfered Location</ion-label>
                                    <ion-input type="text" placeholder="Perfered Location"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label>Handedness</ion-label>
                                    <ion-input type="text" placeholder="Handedness"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label>Rating Type</ion-label>
                                    <ion-input type="text" placeholder="Rating Type"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label>Rating</ion-label>
                                    <ion-input type="text" placeholder="Rating"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label>Others</ion-label>
                                    <ion-input type="text" placeholder="Others"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label>Strength</ion-label>
                                    <ion-input type="text" placeholder="Strength"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label>Weakness</ion-label>
                                    <ion-input type="text" placeholder="Weakness"></ion-input>
                                </ion-item>

                                <div padding class="submitBtn">
                                    <div *ngIf="successMessage">
                                        <p class="successMessage">{{successMessage}}</p>
                                    </div>

                                    <div *ngIf="errorMessage">
                                        <p class="errorMessage">{{errorMessage}}</p>
                                    </div>
                                    <button ion-button block large color="secondary" [disabled]="!profileForm.valid">Save Profile</button>
                                    <a href="#" ion-button block large color="secondary" (click)="cancel()">Cancel</a>
                                </div>
                            </ion-list>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
















            <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)">
                <div class="form-container">

                </div>
            </form>
        </ion-grid>
    </div> -->




        <!-- footer -->
        <!-- <div class="footer">
        <div class="container">
            <ion-grid>
                <ion-row>
                    <ion-col col-lg-3 col-md-6 col-12>
                        <a>
                                <img src="assets/imgs/logo.png" alt="" (click)="openHomePage()">
                            </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            nulla pariatur.</p>
                        <a href="#">
                            <img src="assets/imgs/social-icon.png" alt="" class="socialIcon">
                        </a>
                    </ion-col>

                    <ion-col col-lg-3 col-md-6 col-12>
                        <ul class="footerList">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Leatest News</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <li>
                                <a href="#">Donate</a>
                            </li>
                            <li>
                                <a href="#">Career</a>
                            </li>
                        </ul>
                    </ion-col>

                    <ion-col col-lg-3 col-md-6 col-12 class="footerContact">
                        <h5>Contact Us</h5>
                        <p>
                            <strong>Address</strong> 8500 Lorem ipsum, dolor fugiat , 55055</p>

                        <p>
                            <strong>Call Us</strong> (123) 456-78-90</p>

                        <p>
                            <strong>Email</strong> info@mytenniscloud.com</p>
                    </ion-col>

                    <ion-col col-lg-3 col-md-6 col-12>
                        <h5>Latest Blog Posts</h5>

                        <ion-list>
                            <ion-item>
                                <ion-avatar item-start>
                                    <img src="assets/imgs/blog-img-1.jpg" />
                                </ion-avatar>
                                <h2>Improve Your Strokes Using The Wall</h2>
                                <p>
                                    <a href="#">February 7, 2018</a> by
                                    <a href="#">John Doe</a>
                                </p>
                            </ion-item>

                            <ion-item>
                                <ion-avatar item-start>
                                    <img src="assets/imgs/blog-img-2.jpg" />
                                </ion-avatar>
                                <h2>Improve Your Strokes Using The Wall</h2>
                                <p>
                                    <a href="#">February 7, 2018</a> by
                                    <a href="#">John Doe</a>
                                </p>
                            </ion-item>


                        </ion-list>


                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div> -->
        <!-- /footer -->
    </div>

    <!-- Bottom footer -->
    <div class="footerBottom">
        <div class="container">
            <ion-grid>
                <ion-row>
                    <ion-col col-12 text-center>
                        <ul class="footerList">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Leatest News</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <li>
                                <a href="#">Donate</a>
                            </li>
                            <li>
                                <a href="#">Career</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </ion-col>


                    <ion-col col-12 text-center>
                        <p>My Tennis Cloud © 2018 All Rights Reserved
                            <a href="#">Terms of Use</a> and
                            <a href="#">Privacy Policy</a>
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <!-- /Bottom footer -->
</ion-content>